/* Remove avatar for the bot on every line */
.slds-chat-avatar.embedded-messaging-chat-message-agent-avatar {
    display: none;
}
/* remove padding that was reserved for the bot avatar */
.slds-chat-message_faux-avatar {
    padding-left: 0;
}

.embedded-messaging-system-event-participantchanged {
    display: none;
}   
.embedded-messaging-system-event-participantchanged-text {
    display: none;
}   

div.embedded-messaging-chat-message[lwc-3cjfrt9r4ka] {
    max-width: 80%;
}
