/* Stylesheet from salesforce-b2c-experience-builder-stylesheet repository */

/* Test, can we affect the page by only updating this file ? */
commerce-layout-header.lwc-76t23tn52sc-host header.lwc-76t23tn52sc.desktop {
  background-color: rgba(255,255,255,0);
}

.concierge-banner a.lwc-68jnud16dda.slds-button.slds-button_outline-brand.dxp-button-large {
    border-radius: 0;
    color: #ffffff;
    border-color: #ffffff;
    font-weight: 500;
    border: 2px solid #ffffff;
}
/* Home page profile */
.profile-home-guest {
  --dxp-s-link-text-color: white;
  --dxp-s-link-text-color-hover: white;
  
  --dxp-s-dropdown-text-color: white;

  --dxp-s-button-color: white;
  --dxp-s-button-color-active: white;
  --dxp-s-button-color-hover: white;

  --slds-c-button-color-border: white;
  --slds-c-icon-color-foreground-default: white;
}

/* End of Stylesheet from salesforce-b2c-experience-builder-stylesheet repository */
