/* Stylesheet from salesforce-b2c-experience-builder-stylesheet repository */

/* Only do this on the non-home page headers */
commerce_builder-layout-header.standard-header commerce-layout-header.lwc-76t23tn52sc-host header.lwc-76t23tn52sc {
  background-color: rgba(255,255,255,0.75);
}

/* Only do this on the home page */
commerce_builder-layout-header.home-customHeader commerce-layout-header.lwc-76t23tn52sc-host header.lwc-76t23tn52sc {
  background-color: rgba(255,255,255,0.0);
}

.concierge-banner .component-wrapper-spacer.lwc-4rt99a8doqk-host {
    margin-bottom: .875rem;
}

.concierge-banner a.lwc-68jnud16dda.slds-button.slds-button_outline-brand {
    border-radius: 0;
    color: #ffffff;
    border-color: #ffffff;
    font-weight: 600;
    border: 2px solid #ffffff;
}
/* Home page profile */
.profile-home-guest {
  --dxp-s-link-text-color: white;
  --dxp-s-link-text-color-hover: white;
  
  --dxp-s-dropdown-text-color: white;

  --dxp-s-button-color: white;
  --dxp-s-button-color-active: white;
  --dxp-s-button-color-hover: white;

/*   --slds-c-button-color-border: white; */
  --slds-c-icon-color-foreground-default: white;
}

.home-main-banner .component-wrapper-spacer.lwc-4rt99a8doqk-host {
    margin-bottom: .875rem;
}

.home-main-banner .lwc-68jnud16dda.slds-button.slds-button_brand {
    border-radius: 0;
    background: transparent;
    border: 2px solid #ffffff;
    padding: 16px 32px;
    line-height: 1;
    font-weight: 600;
}

.home-collectionLeft .lwc-68jnud16dda.slds-button.slds-button_brand {
  border-radius: 0;
  padding: 12px 40px;
  border: 2px solid #000000;
  line-height: 1;
  font-weight: 600;
}
.home-collectionLeft h2.lwc-4rt99a8doqk.dxp-text-heading-large.slds-p-vertical_none.slds-p-horizontal_none  {
  /*max-width: 300px;*/
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: 0.662px;
}
.home-collectionRight h2.lwc-4rt99a8doqk.dxp-text-heading-large.slds-p-vertical_none.slds-p-horizontal_none {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.66);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: 0.662px;
}
.home-collectionLeft .lwc-2e9p45m2o16.main-content.slds-p-around_large {
  max-width: 340px;
  padding-left:48px;
}
.home-collectionRight .lwc-2e9p45m2o16.main-content.slds-p-around_large {
  max-width: 340px;
  padding-left:48px;
}
.home-collectionLeft .lwc-4jvuae7j6si.cta-buttons.slds-grid {
  width: 80%;
}
.home-collectionRight .lwc-4jvuae7j6si.cta-buttons.slds-grid {
  width: 80%;
}
.home-collectionRight .lwc-68jnud16dda.slds-button.slds-button_outline-brand {
  border-radius: 0;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 12px 40px;
  line-height: 1;
  font-weight: 600;
}
/* Button for Premium Buyer Banner */
.premium-Buyer-Banner .lwc-68jnud16dda.slds-button.slds-button_outline-brand {
  border-radius: 0;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 12px 40px;
  line-height: 1;
  font-weight: 600;
}
/* Modal styles */
lightning-overlay-container .slds-modal .slds-modal__close .slds-button.slds-button_icon-inverse, .slds-modal .slds-modal__close.slds-button.slds-button_icon-inverse {
  color: #ffffff;
}

lightning-overlay-container .slds-modal__header {
  background-color: #ffffff;
}

lightning-overlay-container .slds-modal__content {
  background-color: #ffffff;
}

.comm-login-form__login-button[lwc-2gnjpni64lj] {
  color: #000000 !important;
}

dxp_base-image.component-wrapper-spacer.lwc-692s6j89ul6-host {
  margin-bottom: 0;
}

.slds-theme_error.lwc-7jjmc3b49ns .slds-media__body.lwc-7jjmc3b49ns h2.lwc-7jjmc3b49ns, .slds-theme_error.lwc-7jjmc3b49ns .slds-media__body.lwc-7jjmc3b49ns p.lwc-7jjmc3b49ns {
  color: #ffffff !important;
  text-align: center;
}

lightning-vertical-navigation-item.slds-p-vertical_small.slds-nav-vertical__item.slds-is-active:before {
  background-color: #F7F9FA;
}

lightning-vertical-navigation-item .slds-nav-vertical__action {
  color: #000000 !important;
}
lightning-vertical-navigation-item.slds-p-vertical_small.slds-nav-vertical__item.slds-is-active lightning-vertical-navigation-item .slds-nav-vertical__action {
  box-shadow: inset 4px 0 0 #000000 !important;
}

lightning-vertical-navigation-item .slds-nav-vertical__action:hover {
  box-shadow: inset 4px 0 0 #000000 !important;
}

lightning-formatted-number.strikethrough-price.price-label {
  color: #707275 !important;
}

.lwc-48aostf02bd-host dxp_base-text-block.component-wrapper-spacer.lwc-4rt99a8doqk-host:first-child {
  margin-bottom: 0;
}

[data-component-id="sldsFlexibleLayout-94bf"] .lwc-48aostf02bd.column-content .image-container.lwc-692s6j89ul6 {
  border: 1px solid #000000;
}

.lwc-48aostf02bd.column-content label[lwc-2ar7aenubaj] {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  font-size: 12px !important;
}

.lwc-48aostf02bd.column-content select[lwc-2ar7aenubaj] {
  padding-left: 4px !important;
  padding-top: 0 !important;
  margin-bottom: 0 !important;
}

a.lwc-68jnud16dda.slds-button.slds-button_outline-brand.slds-button_stretch {
    border: 2px solid #000000 !important;
    font-weight: 600 !important;
}

[data-component-id="textBlock-39ad"] {
  color: #626262 !important;
}

[data-component-id="threekitplayer-dba8"] {
    border: 1px solid #E3E7ED;
}

[data-component-id="sldsFlexibleLayout-94bf"] community_layout-column-spacer.lwc-hha6pm515p-host {
  padding-left: 40px;
}

[data-component-id="sldsFlexibleLayout-94bf"] .lwc-7fkokvogn01.quantity-list-action commerce-action-button.lwc-5igvpfimtj, [data-component-id="sldsFlexibleLayout-94bf"] .lwc-7fkokvogn01.quantity-list-action span.lwc-5fghn3l4ske.slds-grid, [data-component-id="sldsFlexibleLayout-94bf"] .lwc-7fkokvogn01.quantity-list-action commerce-action-button.lwc-7fkokvogn01.slds-m-vertical_small.lwc-76nnmqsstjk-host {
  height: 3.25rem;
}

[data-component-id="sldsFlexibleLayout-94bf"] commerce-action-button.lwc-7fkokvogn01.slds-m-vertical_small.lwc-76nnmqsstjk-host, [data-component-id="sldsFlexibleLayout-94bf"] commerce_product_details-add-quantity.lwc-7fkokvogn01.slds-m-vertical_small.lwc-5igvpfimtj-host {
  margin-top: 25px;
}

[data-component-id="sldsFlexibleLayout-94bf"] dxp_layout-columns.dxpStyle_1b7a79a4-00a6-46fb-b10e-edfaa2102570.lwc-bh41l7ugn9-host {
  padding: 0;
}

[data-component-id="sldsFlexibleLayout-94bf"] [data-component-id="purchaseOptions-138a"] commerce_product_details-add-quantity.lwc-7fkokvogn01.slds-m-vertical_small.lwc-5igvpfimtj-host {
  width: 100%;
}

[data-component-id="sldsFlexibleLayout-94bf"] [data-component-id="purchaseOptions-138a"] button.lwc-76nnmqsstjk.slds-button.slds-button_brand {
  width: 100%;
}

[data-component-id="sldsFlexibleLayout-94bf"] [data-component-id="purchaseOptions-138a"] commerce-action-button.lwc-7fkokvogn01.slds-m-vertical_small.lwc-76nnmqsstjk-host {
  justify-content: flex-end;
  margin-right: 0;
}

.header-banner .main-content .container .cta-buttons a.68jnud16dda.slds-button.slds-button_outline-brand {
    color: white;
    border-color: white;
}

/* Product Set Page */

/* Button for Add All */

commerce_product_details-add-to-cart-button button.lwc-s5t0mkqdga.slds-button.slds-button_brand,
commerce_product_details-add-to-cart-button button.lwc-s5t0mkqdga.slds-button.slds-button_brand:hover {
  background-color: rgb(28,28,28);
}
.product-set__header.lwc-705ga9r2kec {
  border: none;
}  
commerce_product_details-product-set div.lwc-705ga9r2kec.product-set__items {
  display: none;
}
commerce_product_details-product-set div.lwc-705ga9r2kec.product-set__items commerce_product_details-product-set-item-container {
  display: flex;
  flex-direction: column;
  width: 450px;
  justify-content: left;
  align-items: center;
}
commerce_product_details-product-set div.lwc-705ga9r2kec.product-set__items commerce_product_details-product-set-item-container .product-set-item__image img {
  width: 100px;
  height: 100px;
}

/* Video Frame Overlay to darken image */
/* New styles for overlay */
.videoframe .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1925px;
    height: 800px;
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha (0.5) for darker/lighter */
    z-index: 1; /* Ensures the overlay is above the video but below any other content you might want to add */
}


/* Carousel hacks */

.tkplayer {
    height: 480px;
    width: auto;
}
.tkplayer .threekit {
    width: 480px;
}

.slds-carousel__content {
    display: none;
}

.slds-carousel__image > img {
    height: 480px;
    width: auto;
}
.slds-carousel__indicators {
  align-self: auto;
}

.slds-carousel__indicator-action {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: none;
}

ul.slds-carousel__indicators li:nth-child(1) a {
    background-image: url(/sfsites/c/cms/delivery/media/MCD5LQP557GBHDZBVFYY55BNPCJM);
    background-size: cover;
    border: none;
    border-radius: 0;
}
ul.slds-carousel__indicators li:nth-child(2) a {

    background-image: url(/sfsites/c/cms/delivery/media/MCAEHACGAVWNFUFGVQI6FZTSRHIA);
    background-size: cover;
    border: none;
    border-radius: 0;
}
ul.slds-carousel__indicators li:nth-child(3) a {

    background-image: url(/sfsites/c/cms/delivery/media/MCZ3USYMTFKJAR7D3WWTNQOACG74);
    background-size: cover;
    border: none;
    border-radius: 0;
}
ul.slds-carousel__indicators li:nth-child(4) a {
    background-image: url(/sfsites/c/cms/delivery/media/MCKAC2SWAC6JD5FAJKWZTRJJPYWY);
    background-size: cover;
    border: none;
    border-radius: 0;
}

/* Footer image width */
commerce-layout-footer footer img.lwc-692s6j89ul6 {
  width: 2000px;
  max-width: 100%;
}


/* End of Stylesheet from salesforce-b2c-experience-builder-stylesheet repository */
